.red {
    background-color: rgba(255, 105, 105, 0.9);
}

.yellow {
    background-color: rgba(255, 199, 118, 0.9);
}

.blue {
    background-color: rgba(77, 155, 232, 0.9);
}

.green {
    background-color: rgba(68, 211, 126, 0.9);
}

.purple {
    background-color: rgba(148, 96, 160, 0.9);
}

.white {
    background-color: #fff;
}

.gray {
    background-color: gray;
}

.red_1 {
    background-color: rgba(255, 105, 105, 0.2);
}

.red_2 {
    background-color: rgba(255, 105, 105, 0.4);
}

.red_3 {
    background-color: rgba(255, 105, 105, 0.6);
}

.red_4 {
    background-color: rgba(255, 105, 105, 0.8);
}

.red_5 {
    background-color: rgba(255, 105, 105, 0.9);
}

.yellow_1 {
    background-color: rgba(255, 199, 118, 0.2);
}

.yellow_2 {
    background-color: rgba(255, 199, 118, 0.4);
}

.yellow_3 {
    background-color: rgba(255, 199, 118, 0.6);
}

.yellow_4 {
    background-color: rgba(255, 199, 118, 0.8);
}

.yellow_5 {
    background-color: rgba(255, 199, 118, 0.9);
}

.blue_1 {
    background-color: rgba(77, 155, 232, 0.2);
}

.blue_2 {
    background-color: rgba(77, 155, 232, 0.4);
}

.blue_3 {
    background-color: rgba(77, 155, 232, 0.6);
}

.blue_4 {
    background-color: rgba(77, 155, 232, 0.8);
}

.blue_5 {
    background-color: rgba(77, 155, 232, 0.9);
}

.green_1 {
    background-color: rgba(68, 211, 126, 0.2);
}

.green_2 {
    background-color: rgba(68, 211, 126, 0.4);
}

.green_3 {
    background-color: rgba(68, 211, 126, 0.6);
}

.green_4 {
    background-color: rgba(68, 211, 126, 0.8);
}

.green_5 {
    background-color: rgba(68, 211, 126, 0.9);
}

.purple_1 {
    background-color: rgba(148, 96, 160, 0.2);
}

.purple_2 {
    background-color: rgba(148, 96, 160, 0.4);
}

.purple_3 {
    background-color: rgba(148, 96, 160, 0.6);
}

.purple_4 {
    background-color: rgba(148, 96, 160, 0.8);
}

.purple_5 {
    background-color: rgba(148, 96, 160, 0.9);
}

html,
body {
    width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
}

.font_s {
    font-size: 0.9rem;
}

.font_l {
    font-size: 2.0rem;
}